{% extends 'base.html'%}


    <!-- Content block -->
    {%block styles%}
        {{ super() }}
        <link href="https://fonts.googleapis.com/css?family=Purple+Purse" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    {%endblock%}
    {% block content %}

        <div class="container">
            
            <div class="jumbotron text-center" style="background-color: rgb(24, 173, 166); color: #fff; padding: 55px 25px; font-family: 'Purple Purse', cursive;">
                <h1>One Minute Pitch</h1>
            </div>
            <div class="well" style="font-family: 'Kalam', cursive;font-size:40px">
                <p>To start of, please do the following</p>
                <ul>
                    <li>If New user ,Sign up</li>
                    <li>If Already up login</li>
                    <li>Log in to view Pitches</li>
                    <li>Click Home to go Home</li>
                </ul>  
            </div>   
            
        </div>  
        <div class="container" style="font-family: 'Kalam', cursive;font-size:40px">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <h3>Startup Pitches</h3>
                            <p>Say something on Startups!!.</p>
                            <a href="{{url_for('main.startup_pitches')}}" class="btn btn-primary -center">Comment</a>
                        </div>         
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <h3>Flirt Pitches</h3>
                            <p>Don't let your one minute to waste, say something!!.</p>
                            <a href="{{url_for('main.flirt_pitches')}}" class="btn btn-primary -center">Comment</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="well well-lg">
                                <h2>Inteligent Pitches</h2>
                                <p>Wise people have inteligent ideas say something!!</p>
                                <a href="{{url_for('main.inteligent_pitches')}}" class="btn btn-primary -center">Comment</a>
                            </div>
                    </div>
        </div>
{% endblock%}