{% extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <form action="">
               <input type="text">
               <input type="submit">
               <button type="submit" clmainass="btn btn-default btn-sm">
                <a href="{{url_for('.view_pitches') }}"></a>
              </button>
           </form>
           {%if pitches %}
            {for pitch in pitches}
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif%}
</div>
{%endblock%}