{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Purple+Purse" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
<div class="jumbotron text-center" style="background-color: rgb(24, 173, 166); color: #fff; padding: 55px 25px; font-family: 'Purple Purse', cursive;">
        <h1>Startup Pitches</h1>
</div>
    <div>
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}